ekf_filter_node:
  ros__parameters:
    use_sim_time: false
    frequency: 50.0
    two_d_mode: true
    publish_tf: false

    map_frame: map
    odom_frame: odom            
    base_link_frame: base_link  
    world_frame: odom
    odom0: /scan_odom
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false
    odom0_nodelay: true
    # x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az
    odom0_config: [ true, true, false,
                    false, false, true,
                    true,  false, false,
                    false, false, true,
                    false, false, false ]
    process_noise_covariance: [0.05, 0, 0,  0, 0, 0,
                               0, 0.05, 0,  0, 0, 0,
                               0, 0, 0.0,  0, 0, 0,
                               0, 0, 0,  0.05, 0, 0,
                               0, 0, 0,  0, 0.05, 0,
                               0, 0, 0,  0, 0, 0.05]


# pure pursuit controller from nav2_params
#controller_server:
#   ros__parameters:
#     use_sim_time: false
#     controller_frequency: 20.0    # was 10.0
#     progress_checker_plugins: ["progress_checker"]
#     goal_checker_plugins: ["goal_checker"]
#     controller_plugins: ["FollowPath"]
#     odom_topic: /odometry/filtered

#     progress_checker:
#       plugin: nav2_controller::SimpleProgressChecker
#       required_movement_radius: 0.2  # was 0.5
#       movement_time_allowance: 10.0

#     goal_checker:
#       plugin: nav2_controller::SimpleGoalChecker
#       xy_goal_tolerance: 0.25
#       yaw_goal_tolerance: 0.35 # was 0.25
#       stateful: true

#     FollowPath:
#       plugin: nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController
#       desired_linear_vel: 0.2
#       lookahead_dist: 0.6
#       min_lookahead_dist: 0.3
#       max_lookahead_dist: 0.9
#       lookahead_time: 1.5
#       rotate_to_heading_angular_vel: 0.6  # was 0.1
#       min_turning_radius: 0.0
#       transform_tolerance: 0.2
#       use_velocity_scaled_lookahead_dist: true
#       min_approach_linear_velocity: 0.0 # was 0.3
#       use_regulated_linear_velocity_scaling: true
#       regulated_linear_scaling_min_radius: 0.9
#       regulated_linear_scaling_min_speed: 0.25
#       max_linear_decel: 0.5
#       use_cost_regulated_linear_velocity_scaling: false
#       cost_scaling_dist: 0.6
#       cost_scaling_gain: 1.0
#       allow_reversing: false
#       use_rotate_to_heading: true
#       max_angular_accel: 0.3